.item {
  width: 100px;
  height: 100px;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  border:1px solid green;
  vertical-align: top;
}

.row {
  display: inline-block;
  justify-content: space-between;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
  border:2px solid green;
}

.generated {
  width: 600px;
}

.generated-item {
  width: 100px;
  height: 100px;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  border:1px solid green;
  vertical-align: top;
  display: inline-block;
}
